.popup__close {
  position: absolute;
  top: -48px;
  right: -48px;
  transition: all .2s ease;
  cursor: pointer;
}

.popup__close:hover {
  opacity: .6;
}

@media (max-width: 768px) {
  .popup__close {
    top: -72px;
    right: -2px;
  }
}
