.profile__name {
  font-size: 42px;
  line-height: 48px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 8px;
}

@media (max-width: 480px) {
  .profile__name {
    font-size: 22px;
    line-height: 28px;
  }
}
